{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default navbar-static-top">
        <div id="navbar" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li><a href="{{ path("author_create") }}">Admin</a></li>
                    <li><a href="{{ logout_url("secured_area") }}">Logout</a></li>
                {% else %}
                    <li class="active"><a href="/connect/auth0">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}